*{
    box-sizing: border-box;
}

.bannerContainer{
    width: 100%;
    height: 40vh;
    padding-bottom: 20px;
    border: none;
    background-color: #FCDF39;
    border-radius: 0 0 50px 0;
}

.bannerAzul{
    width: 99%;
    height: 100%;
    background-color: #182D4B;
    border: none;
    border-radius: 0 0 50px 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.tituloPortal{
    color: white;
}

.bodyContainer{
    padding: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
}

.indexCard{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    height: 50vh;
    width: 300px;
}

.indexCard img{
    width: 300px;
    height: 220px;
}

.cardButton{
    padding: 10px 20px;
    background-color: #97ECFF;
    color: #182D4B;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.buttonRedirectContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    background-color: white;
}

.redirectButton{
    border: 1px solid #97ECFF;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    color: #182D4B;
    font-weight: 650;

    cursor: pointer;
    width: 100%;
}

.institutosContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.linkInstituto{
    color: #182D4B;
    font-size: 1.5rem;
    font-weight: 650;
    font-style: unset;
}